/*

Mosaic
Dynamic Grid

Version 1.0 Beta

By Chirag Sangani	chiragsangani@live.com
www.chiragsangani.com

Modify this file as per your requirements

*/

/* Column inner wrapper margins */
.mosaic-inner-columnwrapper-horizontal {
	margin: 0 20px 0 20px;
}
.mosaic-inner-columnwrapper-vertical {
	margin: 20px 0 20px 0;
}

/* Column navigation button style */
.mosaic-column-button {
	opacity: 0.5;
}
.mosaic-column-button:hover {
	opacity: 1;
}

/* Left/right buttons */
.mosaic-column-button-l, .mosaic-column-button-r {
	width: 17px;
}

/* Up/down buttons */
.mosaic-column-button-u, .mosaic-column-button-d {
	height: 17px;
}

/* Left button */
.mosaic-column-button-l {
	background: url('../images/arrow-l.png') no-repeat 50% 50%;
}

/* Right button */
.mosaic-column-button-r {
	background: url('../images/arrow-r.png') no-repeat 50% 50%;
}

/* Up button */
.mosaic-column-button-u {
	background: url('../images/arrow-u.png') no-repeat 50% 50%;
}

/* Down button */
.mosaic-column-button-d {
	background: url('../images/arrow-d.png') no-repeat 50% 50%;
}
